<!-- .resume -->
<div id="resume" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Resume - Personal Info</h1> 

<div class="row">

   <!-- .resume-right -->
    <div class="col-md-6">

        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Proogramming Languages</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="74%">
                <div class="skillbar-title"><span>C</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent"></div>
            </div>
    
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="60%">
                <div class="skillbar-title"><span>C++</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent"></div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="45%">
                <div class="skillbar-title"><span>java</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent"></div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="73%">
                <div class="skillbar-title"><span>Python</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent"></div>
            </div>
            <!-- /.skillbar -->
        </div>
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Artificial Intelligence Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="60%">
                <div class="skillbar-title"><span>Machine Learning</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent"></div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="70%">
                <div class="skillbar-title"><span>Deep Learning</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent"></div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="60%">
                <div class="skillbar-title"><span>Data Mining</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent"></div>
            </div>
            <!-- /.skillbar -->
            
             <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="55%">
                <div class="skillbar-title"><span>Data Analytics</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent"></div>
            </div>
            <!-- /.skillbar --> 
        </div>
        
         
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Machine Learning Libraries</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
            
        <div class="skills">       
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="60%">
                <div class="skillbar-title"><span>Tensorflow</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent"></div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="65%">
                <div class="skillbar-title"><span>OpenCV</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent"></div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="60%">
                <div class="skillbar-title"><span>Sckiit-learn</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent"></div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="40%">
                <div class="skillbar-title"><span>pyTorch</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent"></div>
            </div>
            <!-- /.skillbar -->   
		</div>
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Networking Tools</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title"><span>Metasploit Framework</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent"></div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="75%">
                <div class="skillbar-title"><span>NMAP</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent"></div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="77%">
                <div class="skillbar-title"><span>NS2</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent"></div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="70%">
                <div class="skillbar-title"><span>Wireshark</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent"></div>
            </div>
            <!-- /.skillbar -->
        </div>
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Hobbies</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="70%">
                <div class="skillbar-title"><span>Guitar</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent"></div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="60%">
                <div class="skillbar-title"><span>Flute</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent"></div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="80%">
                <div class="skillbar-title"><span>Table-Tennis</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent"></div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="60%">
                <div class="skillbar-title"><span>Reading</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent"></div>
            </div>
            <!-- /.skillbar -->
        
	</div>
        
	<div class="title_content">
            <div class="text_content">Academic Achievements</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->    
        <ul class="attributes">
            <li class="first">
                <h5>NTA-NET for Assistant professorship in Computer Science&amp; Applications  <span class="duration"><i class="fa fa-calendar color"></i> Dec 2019</span></h5><div class="clear"></div> 
                
            </li>
            <li class="first">
                <h5>Selected for Ph.D Program in Interdisciplinary Research Program- Internet of Things (IoT) and Applications at IIT, Jodhpur<span class="duration"><i class="fa fa-calendar color"></i> July 2019</span></h5><div class="clear"></div> 
		
                
            </li>
	   <li class="first">
                <h5>NTA-NET for Assistant professorship in Computer Science&amp; Applications  <span class="duration"><i class="fa fa-calendar color"></i> June 2019</span></h5> <div class="clear"></div> 
		
            </li>

            <li>
                <h5>GATE in Computer scinece &amp; engineering <span class="duration"><i class="fa fa-calendar color"></i> 2019</span></h5> <div class="clear"></div> 
                <!-- <h6><span class="fa fa-trophy"></span> Name of Institute</h6>
                <p>Emi Phasellus congue auctor risuspon, eget males. Pellentes que un imperdiet, odio quis orn sollicitud. Sed vitae lectus elementum mauris.</p> -->
            </li>
  
        </ul>
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">My Resume</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .download_resume -->
        <a class="download" style="margin:0;float: left;" href="https://raw.githubusercontent.com/BharatDadwaria/bkd0385/master/_includes/BKDCV_updated_22Oct2018.pdf">
            <span data-hover="Download My Resume"><i class="glyphicon glyphicon-download-alt"></i> Download My Resume</span>
        </a>
        <!-- /.download_resume -->

    </div>
     <!-- /.resume-right -->
     
     
     
     <!-- .resume-left -->
    <div class="col-md-6 resume-left">    
        <!-- .title_content -->
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Education</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>M.Tech Statistical Computing<span class="duration"><i class="fa fa-calendar color"></i> 2019 - 2021</span></h5>
                <h6><span class="fa fa-book"></span> Jawaharlal Nehru University, New Delhi</h6>
		    <p>Statistical Computing includes practical approach of statistical concepts, Multivariate and Inferenctial Statistics, Computational Intelligence, Web Mining, Time-Series Analysis, Probabitlity and Stochastic processes, Information theory, Wireless Sensor networks, Natural Language processing</p>
            </li>
            <li>
                <h5>Integrated M.Sc Computer Science<span class="duration"><i class="fa fa-calendar color"></i> 2014 - 2019</span></h5>
                <h6><span class="fa fa-book"></span>Central University of Rajasthan</h6>
                <p>Integrated M.Sc Computer Science is a 5 year complete postgraduate degree. In this course i am specialised with Artificial Intelligence and studied subjects including basic computer science and other specialised subjects like Machine learning,Neural Networks, Deep learning, Data Mining with their practicals.</p>
            </li>

        </ul>
        <!-- /.attributes -->
        <br>
        
        <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Training & Certifications</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5><a href="https://drive.google.com/file/d/1w8fTed23AczOul2n5kxTvntpGVsiFy3p/view">Microsoft AI challange 2018</a> <span class="duration"><i class="fa fa-calendar color"></i> Nov 2018</span></h5>
               	<p>Participated and secured top 150 rank in Microsft AI challenge 2018 #Deeplearning</p>
            </li>
	    <li>
		<h5><a href="https://drive.google.com/file/d/1csgHaO_L3yJ1nSpGUVH4pMxHZAHNCiPY/view">Python for Security Professionals</a> <span class="duration"><i class="fa fa-calendar color"></i> Dec 2017</span></h5>
                <h6><span class="fa fa-trophy"></span>www.Cybrary.it (Online)</h6>
                <p>Successfully completion the 15 CEU/CPE and 10.5 hour training course provided by Cybrary.it.</p>
            </li>
            <li>
                <h5><a href="https://drive.google.com/file/d/14Y82sV5jaxg7omukEypCFdGVpe-YkfHx/view">Metasploit </a><span class="duration"><i class="fa fa-calendar color"></i> May 2018</span></h5>
                <h6><span class="fa fa-trophy"></span> www.Cybrary.it (Online)</h6>
                <p>Successfully completion the 5.65 CEU/CPE and 5.65 hour training course provided by Cybrary.it</p>
            </li>
        </ul>
        <!-- /.attributes -->
        <br>  
        
        
          <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Courses</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Machine Learning with python<span class="duration"></span></h5>
                <h6><span class="fa fa-books"></span> Global Initiative of Academic Network (GIAN) through M.H.R.D</h6>
                <p>This course was organized by M.H.R.D at Central University of Rajasthan on "Machine Learning". The course speaker was Professor Rao Vemuri (UCdevis). This course covers all the Machine learning topics with a proper hands on practical through python.</p>
            </li> 
		<!---
            <li>
                <h5>Design &amp; Art Direction <span class="duration"><i class="fa fa-calendar color"></i> 2012 - 2013</span></h5>
                <h6><span class="fa fa-books"></span> Name of Institute</h6>
                <p>Emi Phasellus congue auctor risuspon, eget males. Pellentes que un imperdiet, odio quis orn sollicitud. Sed vitae lectus elementum mauris.</p>
            </li>
  		-->
        </ul>
	
        <!-- /.attributes -->
	 
	<div class="title_content">
            <div class="text_content">Non Academic Achievements</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->    
        <ul class="attributes">
            <li class="first">
                <h5>Elected Department Representative of Department of Computer Science in Student Council Elections 2018-19 in Central University of Rajasthan </h5><div class="clear"></div> 
            </li>
            <li class="first">
                <h5>Table tannis Gold medal - Central University of Rajasthan intera-sports 2017-18  </h5><div class="clear"></div>
             </li>

        </ul>   
	 <!-- .attributes -->
        <br>  
        
    </div>
    <!-- /.resume-left -->
</div>

<div style="clear: both"></div>  
  
  
<!-- client reference -->
<div class="row">
<div class="col-md-12">   
    
<div class="reference clearfix"> 
            
         <!-- .title_content -->
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Academic reference</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
	

        
	<ul>
	     <li class="clearfix">
                <img src="images/Mamta.jpg" class="img_reference" width="100" height="100" alt="">
                <span>Dr. Mamta Rani</span>
		<p>Dr. Mamta Rani is a Associate Professor in Department of Computer Science at Central University of Rajasthan. Her area of interest includes Fractal theroy and chaos.</p>
                
            </li>
		
		
            <li class="clearfix">
                <img src="images/muz.jpg" class="img_reference" width="100" height="100" alt="">
                <span>Dr. Muzzammil Hussain</span>
		<p>Dr.Muzzammil Hussain is a Assitant Professor in Computer Science and Engineering department at Central University of Rajasthan. His area of interest includs Network Security, Wireless Sensor Networks,  Mobile Ad Hoc Networks, Cognitive Radio Network.</p>
                
            </li>
   	    
			
			
			
            <li class="clearfix">
                <img src="images/nishtha.jpg" class="img_reference" width="100" height="100" alt="">
                <span>Dr. Nishtha Kesswani</span>
		<p>Dr. Nishtha Kesswani is a Assistant Professor r in Department of Computer Science at Central University of Rajasthan. Her area of interest includes Wireless Networks.</p>
              	  
            </li>
            
        </ul>
</div>
</div>

     
<div style="clear: both"></div>   
</div>

</div>
<!-- End .resume -->
