<!-- profile -->
<div id="profile" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Profile - About Me</h1>

<div class="row top-p">
    <div class="col-md-6 profile-l">
 		
        <!--About me-->
        <div class="title_content">
            <div class="text_content">Bharat Dadwaria</div>
            <div class="clear"></div>
        </div>

		   <ul class="about">

            <li>
                <i class="glyphicon glyphicon-user"></i>
                <label>Name</label>
                <span class="value">Bharat Dadwaria</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-calendar"></i>
                <label>Date of birth</label>
                <span class="value">March 30, 1998</span>
                <div class="clear"></div>
            </li>

            <li> 
                <i class="glyphicon glyphicon-map-marker"></i>
                <label>Adress</label>
                <span class="value">Rajasthan ,India</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-envelope"></i>
                <label>Email</label>
                <span class="value">bkd0385@gmail.com</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-phone"></i>
                <label>Phone</label>
                <span class="value">+919660646806</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-globe"></i>
                <label>Website</label>
                <span class="value"><a href="#" target="_blank">https://bharatdadwaria.github.io/bkd0385/</a></span>
                <div class="clear"></div>
            </li>

        </ul>


        <p style="margin-bottom:20px">
            <i class="fa fa-quote-left"></i>       
            A young cyber enthusiast highly motivated in research in the field of cyber security,machine learning,deep learning.
        </p>
        
         <p style="margin-bottom:20px">
            <i class="fa fa-quote-left"></i>       
            Go Go Go!!! 
        </p>

    </div>
    <!-- End left-wrap -->
	<!--
    <div class="col-md-6 profile-r">

        <div class="cycle-slideshow">
            <img src="images/img-profile/about_1.jpg" alt="" />
            <img src="images/img-profile/about_2.png" alt="" />
            <img src="images/img-profile/about_3.png" alt="" />
        </div>

    </div>
	-->
</div>


<!-- begin service -->
<div class="clear"></div>
<div class="row" id="services">
	<div class="col-md-12">
        <div class="title_content">
            <div class="text_content">Projects</div>
            <div class="clear"></div>
        </div>

	<a data-toggle="collapse" data-target="#collapseOne" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-tag"></i></div>
                <div class="service-detail">
			<h6>ARP spoofing and MiTm</a></h6>
                    <p>This project is done under the guidance of Dr. Muzzamil Hussain. This projecct focused on spoofing the ARP cache and posioned the network and performing MiTM.</p>
                </div>
            </div>
        </div>
	</a>
	<a data-toggle="collapse" data-target="#collapseTwo" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-cogs"></i></div>
                <div class="service-detail">
			<h6>University Online Election Portal</h6>
                    <p>The Online Election portal is developed in the ASP.net C# is a user friendly online election portal.This Application is developed under guidance of Mr. Raviraj Chaudhary, Assistant professor , Department of Computer Science at Central University of Rajasthan.</p>
                </div>
            </div>
        </div>
	</a>
	<a data-toggle="collapse" data-target="#collapseThree" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-arrows-alt"></i></div>
                <div class="service-detail">
			<h6>Penetration testing of Android using Metasploit</h6>
                    <p>Analysed the Android Vulnerability using Metasploit Reverse_tcp payload using multi-handler exploitation and successfully exploit the backdoor..</p>
                </div>
            </div>
        </div>
	</a>
     </div> 
</div><!-- End Services -->



<!-- service 2 -->
<div class="clear"></div>
<div class="border-list"></div>

<div class="row">
<div class="col-md-12">
    <div class="bottom-p">
        <div class="title_content">
            <div class="text_content">Project Details[Technical]</div>
            <div class="clear"></div>
        </div>

        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="collapse_tabs">
                            ARP Spoofing and MiTM
                            <i class="glyphicon glyphicon-chevron-up" style="float: right;font-size: 13px;"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <i class="fa fa-quote-left"></i>  The AIM of this project is to highlight the vulnerability of Layer 2 Protocol known as ARP(Address Resolution Protocol) which is used to map the IP address corosponde to the MAC address. Thus by spoofing the Loop Hole of the ARP protocol i successfully Men-in-the-middle attack and monitor the hole network. This project was taken under guidence of Dr. Muzzammil Hussain, Assistant professor, Department of Computer Science and Engineering, Central University of Rajasthan.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapse_tabs">
                            University Online Election portal
                            <i class="glyphicon glyphicon-chevron-down" style="float: right;font-size: 13px;"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        <i class="fa fa-quote-left"></i>  The Online Election portal is developed in the ASP.net C# is a user friendly online election portal where university students can login by their respective enrollment number and a password is being given by department . After Login user can see the candidates profile and register himself for voting for various posts for the university election and easily vote for the right candidate based on the candidates write-up. This Application is developed under guidance of Mr. Raviraj Chaudhary, Assistant professor , Department of Computer Science at Central University of Rajasthan.<a href="https://github.com/BharatDadwaria/online_election_portal"><b>You can check out my work here</b></a>
                   </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapse_tabs">
                            Penetration testing of andriod using Metasploit
                            <i class="glyphicon glyphicon-chevron-down" style="float: right;font-size: 13px;"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        <i class="fa fa-quote-left"></i> This Project focused on the vulnerability of Latest update of Andoid version.This project is taken under guidance of Dr. Muzzamil Hussain. The main goal of this project is analyzation of how to backdoor enter in the android system. So the Metasploit framework is used for backdoor entry. And with the meterpreter payload a successfull connection is being remotely accessed by the Attacker without knowledge of victim and the Webcam_sapshot,contacts, webcam, massage and etc are being accessed by the attacker.
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
<!-- end service 2 -->

<div class="clear"></div>
</div>
<!-- End .profile -->
